body {
    background-color:#F9DEC9;
}

a {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #3F0D12;
    opacity: 0.4;
    padding: 15px;
    transition-duration: 300ms;
}

a:hover {
    opacity: 1;
}

.header-container {
    text-align: center;
}


table {
    margin: auto;
    width: 60%;
    border-collapse: collapse;
    border: black 3px solid;
}

th{
    background-color: #99B2DD;
    padding: 20px 0px;
}

tr {
    background-color:#E9AFA3;
}

td {
    text-align: center;
    border: black solid 1px;

    padding: 6px;
}
